<div class="row">
   <div class="col-xs-6">
      <h2>History</h2>
   </div>
   <div class="col-xs-6">
      <button type="button" class="btn btn-danger" style="margin-top: 1.3em;" ng-click="deleteAll();" ng-disabled="!solveHistory.length">
         Delete All
      </button>
   </div>
   <div class="col-xs-12">
      <table class="table">
         <tr ng-repeat="solve in solveHistory | orderBy:'-whenSolved'">
            <td>{{ $index + 1 }}</td>
            <td>{{ solve.time | date:'mm:ss.sss' }}</td>
            <td>
               <button type="button" class="btn btn-danger" style="font-size: 0.5em;" title="delete this solve" ng-click="deleteSolve(solve.id);">
                  <span class="glyphicon glyphicon-remove"></span>
               </button>
            </td>
         </tr>
      </table>
   </div>
</div>
