<div class="row">
   <div class="col-md-12">
      <div class="page-header">
         <h1>Rubik Timer</h1>
      </div>
   </div>
   <div class="col-md-12">

      <p style="float: right; margin-right: 2em; margin-top: 1em;">
         Cube Type: <select id="cubeTypeSelector" ng-model="cubeTypeId" ng-options="type.id as type.name for type in cubeTypes" ng-change="newScramble()"></select>
      </p>

      <div class="panel panel-default">
         <div class="panel-heading">
            <button class="btn btn-primary" ng-click="newScramble();">
               <span class="glyphicon glyphicon-refresh"></span>
               Refresh Scramble
            </button>
         </div>

         <div class="panel-body">
            <p ng-bind-html="scramble"></p>
         </div>
      </div>

      <div style="text-align: center;">
         <h1 style="font-size: 6em;">
            <stopwatch bind-to="solveTime" control="stopwatch"></stopwatch>
         </h1>
         <p>Press the spacebar to start/stop the timer</p>
      </div>
   </div>
</div>
