<div class="modal-header">
   <h3 class="modal-title">{{ header || "Note" }}</h3>
</div>
<div class="modal-body">
   <dialog-body body-content="bodyContent"></dialog-body>
   <input type="text" class="form-control" ng-model="dlgResult" ng-show="showTxtInput">
</div>
<div class="modal-footer">
   <button class="btn btn-primary", type="button", ng-click="$dismiss();" ng-show="showCancel">Cancel</button>
   <button class="btn btn-primary" type="button" ng-click="$close(dlgResult)">OK</button>
</div>
